/*@font-face {
    font-family: "HelveticaNeue-UltraLight";
    src: url("../fonts/HelveticaNeue-UltraLight.ttf");
}

@font-face {
    font-family: "myfont-ttf";
    src: url("../fonts/NanumBarunGothic.ttf");
}*/

@font-face {
	font-family: 'HelveticaNeue';
	font-weight:  normal;
	font-style: normal;
	src:url('font/HelveticaNeue.eot');
	src:local(※), url('font/HelveticaNeue.woff') format('woff');
}

@font-face {
	font-family: 'Helvetica';
	font-weight:  normal;
	font-style: normal;
	src:url('font/Helvetica.eot');
	src:local(※), url('font/Helvetica.woff') format('woff');
}

body {
	padding:0;
	margin: 0;
	background-color: #000;
    /*background-image: url('../image/download.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%	;
    background-position: center;*/
    color: #fff;
    font-family: 'Helvetica', 'HelveticaNeue', 'Malgun Gothic', sans-serif;
    position: relative;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 100;
}
h1 {
	font-family: 'Helvetica', 'HelveticaNeue', 'Malgun Gothic', sans-serif;
	font-size: 60px
}

.sujin {
	display: none !important;
}

/* Colors */
.light-grey {
    color: #ccc;
}

.grey {
    color: #999;
}

/* Displays */
.sleep-cover {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.container {
    z-index: -1; /* so things are still selectable */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.listening, .interim-result {
    padding-top: 10px;
	font-size: 20px;
}

.result2 {
	position: absolute;
    bottom: 30px;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    text-align: center;
    padding: 0;
}

.top {
    display: inline-block;
}


.top-left {
    float: left;
}

.time {
    font-size: 43px;
    color : white;
    text-align: center;
    letter-spacing: 2px;
}


.date {
	padding-top: 5px;
	font-size: 22px;
    color : rgba(255, 255, 255, .7);
    text-align: center;
    text-transform: uppercase;
}

.top-right {
    float: right;
    text-align : left;
    padding: 30px;
    background: rgba(255, 255, 255, .15);
    border-radius: 1px;
}

.middle-center {
    display: flex;
    flex: 1;
    align-items: stretch;
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
}


.bottom-center {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.bottom-right {
    float : right;
    text-align : left;
    padding: 25px;
    background: rgba(255, 255, 255, .15);
    border-radius: 1px;
}

.bottom-left {
    text-align : left;
    float : left;
    padding: 25px;
    background: rgba(255, 255, 255, .15);
    border-radius: 1px;
}

.commands {
   position: absolute;
   top: 50%;
   left:50%;
   margin-top: -10px;
   margin-left: -170px;
   padding: 25px;
	/*background: rgba(255,255,255,.2);*/
	z-index: 999;

}

.commands h3 {
	padding: 0;
	margin: 0;
	font-size: 18px;
}

.commands dt {
	margin: 0;
	list-style : none;
	padding-top: 14px;
	padding-left: 15px;
	font-weight: bold;
    font-size : 15px;
}


dl, dt, dd {
	padding: 0;
	margin: 0;
}

.commands dd {
	margin: 0;
	list-style : none;
	padding: 3px 0 0 13px;
	font-size : 13px;
	color: rgba(255, 255, 255, .8);
}
.commands dt:before {
	float: left;
	width: 12px;
	height: 10px;
	content: '';
	background: url('../image/icon_minus.png') 0 6px / 7px auto no-repeat;
}

#whoissmartmirror {
	width: 800px;
	height: 600px;
}

#titleCalendar {
  padding-bottom: 15px;
  font-size : 15px;
  line-height: 100%;
  color: white;
}

#calendar-sidebar {
	width : 30px;
	height : 168px;
	float : left;
	background: rgba(255, 255, 255, .1);
}

element.style {
	margin-top : 0px;
	margin-bottom: 0px;
}

ul.calendar {
    display: inline-block;
    list-style: none;
    font-size: 20px;
    margin-top : 0px;
    margin-bottom: 0px;
    padding:0;
}

.calendar .event{
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    text-align: left;
}

.calendar .event:after {
	display: block;
	clear: both;
	content: '';
}

.calendar span {
    display: inline-block;
}

.calendar span.day {
	float: left;
    font-weight: bold;
    width: 70px;
    vertical-align: top;
    margin-left: 0;
    font-size: 17px;
}

.calendar span.summary{
    float: left;
    max-width: 260px;
    font-size: 18px;
}

.calendar .event-details .details{
	clear: both;
    font-size: 13px;
    padding: 5px 0 0 70px;
    color: rgba(255, 255, 255, .5);
}

.event-details .mainNewsdetails{
	clear: both;
    font-size: 13px;
    padding: 5px 0 0 70px;
    color: rgba(255, 255, 255, .5);
}

.weather {
	display: inline-block;
	text-align : center;
    float : left;
    padding: 25px;
    background: rgba(255, 255, 255, .15);
    border-radius: 1px;
}

#titleWeather {
	padding-bottom: 15px;
    font-size: 15px;
    line-height: 100%;
    color: white;
    font-family: 'arial';
    text-align: left;
}

.temp_wrap {
	padding: 20px 0;
}

.wi {
    display: inline-block !important;
    vertical-align: middle !important;

}

.weather-today .tempreture {
    display: inline-block;
    padding-left: 10px;
    line-height: 48px;
    font-size: 38px;
    color : white;
    font-weight: bold;
    vertical-align: middle;
}

.weather-today .degree {
	display: inline-block;
	font-size: 30px;
	line-height: 48px;
	font-weight: normal;
	vertical-align: middle;
}

.weather-week-day {
    text-align: left;
}

.weather-week {
	padding: 6px 0 5px;
    font-size: 22px;
    color: white;
    margin-top: 1px;
    border-bottom : 1px solid rgba(255, 255, 255, .15);
}

.weather-week .day {
    display: inline-block;
    width: 65px;
    text-align:left;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
    text-transform: uppercase;
}

.weather-week .tempreture {
    display: inline-block;
    font-size: 21px;
}

.traffic {
  /* add 3/28 Mon.*/
  margin-top : 50px;
  background-color: black;
  /*background: linear-gradient(to bottom right,#A22020, #EE0000);*/
  border-radius: 10px;
}
#traffic-sidebar {
	width : 30px;
	height : 103px;
	float : left;
	background: linear-gradient(#141414,#4682B4);
	border-top-left-radius : 10px;
	border-bottom-left-radius : 10px;
}

#titleTraffic {
    /* add 3/28 Mon.*/
    text-align : center;
    font-size : 25px;
    background: linear-gradient(#4682B4,#141414);
 	border-radius: 10px;
    margin-bottom: 15px;
}


.traffic-information {
    text-align: right;
}


#traffic-content {
  /* add 3/28 Mon.*/
  border-radius: 10px;
  background : linear-gradient(to right, #7D7D7D, #7F7F7F);
  font-weight : bold;

}


/** Youtube IFRAME */
.yt_player_iframe{
  width: 800px;
  height: 600px;
}

/** Subway*/
.subwayInfo {
  font-size: 30px;
}

/** Noti */
#titleNoti {
  display: inline-block;
}
#titleNotiNews {
  display: inline-block;
}

.noti {
	text-align: left;
}
.noti-table {
    background : linear-gradient(to right, #7D7D7D, #7F7F7F);
    border-radius: 5px;
    margin-bottom: 15px;
}
/** News */
.news{
	width:600px;
	margin:auto;
}

.newsMain{
	width:500px;
	height:270px;
	margin:auto;
}

.news-container {
	background: rgba(255, 255, 255, .2);
	border-radius: 1px;
	padding: 25px;
}

.news-title {
	padding-bottom: 15px;
    text-align: left;
}

.mainnews-title {
	padding-bottom: 10px;
    text-align: left;
}

#news-div span.titletext{
	display: block;
	padding: 10px 0;
	color : #fff;
	text-align: left;
}

#main-news-div span.titletext{
	display: block;
	padding: 7px 0;
	color : #fff;
	text-align: left;
}

#news-div span.titletext:before {
	float: left;
	width: 13px;
	height: 10px;
	content: '';
	background: url('../image/icon_minus.png') 0 6px / 7px auto no-repeat;
}

.contents{
  max-width: 100%;
}

.gif {
    height: 100%;
}

.map {
    height: 1080px;
}

.contents-box {
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.contents-box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0 0 10px 10px #000;
    -moz-box-shadow: inset 0 0 10px 10px #000;
    box-shadow: inset 0 0 10px 10px #000;
    overflow: hidden;
}

.color-block {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 10px;
    margin-bottom: 20px;
}

.debug-info {
    width: 500px;
}

.dimmed {
    color: rgba(255, 255, 255, .9);
    display: inline-block;
    text-align: center;
}

.xxsmall,
.xsmall,
.small {
	font-family: "HelveticaNeue-Medium", sans-serif;
	letter-spacing: 0;
}

.xxsmall {
  font-size: 15px;
}

.xxsmall .wi {
  line-height: 15px;
}

.xsmall {
  font-size: 20px;
}

.small {
    font-size: 25px;
}


.icon {
  font-size: 48px;
  vertical-align: middle;
  /*position: relative;
  top: -10px;
  display: inline-block;

  padding-right: 5px;
  font-weight: 100;
  margin-right: 10px;*/
}

.icon-small {
  position: relative;
  display: inline-block;
  font-size: 20px;
  padding-left: 0;
  padding-right: -10px;
  font-weight: normal;
  width: 28px;
  margin-top: -6px;
  color : rgba(255, 255, 255, .55);
}

.icon-small:before {
    width: 28px;
    text-align: center;
    display: inline-block;
}

.xkcd {
  -webkit-filter:invert(100%);
  max-width: 100%;
}

.sc-container {
    margin: auto;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
    font-family: bold;
}

.scWaveform {
    background-color: #000000;
    width: 500px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    color: #fff;
    font-family: weather;
    font-size: 150px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.0;
    text-transform: none;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
    margin: 0 0 8px;
    color: #fff;
    font-size: 100px;
    font-weight: 300;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
    margin: 0;
    padding: 0;
}

#weather li {
    background: #fff;
    background: rgba(255,255,255,0.90);
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
}

#weather .currently {
    margin: 0 20px;
}

/* add */
.greeting {
	display: inline-block;
	text-align:center;
}

.greeting h1 {
	display: inline-block;
	font-size: 52px;
	letter-spacing: 8px;
	padding: 0;
	margin: 0;
}

.subwayInfo-container {
    padding: 20px;
    background: rgba(255,255,255,.15);
    width: 600px;
    margin: auto;
}
